# Exercise 1 - pandas repetition

# 0.Working with national test data

In [2]:
import pandas as pd
pd.read_excel("data/riket2023_책k9_np.xlsx")

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [3]:
import pandas as pd
pd.read_excel("data/riket2023_책k9_np.xlsx", skiprows=8)

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [4]:
import pandas as pd
pd.read_excel("data/riket2023_책k9_np.xlsx", skiprows=3)

,Engelska,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Valt l채s책r: 2022/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Antal elever med provbetyg A-F,NaN,NaN,Andel (%) med provbetyg A-E,NaN,NaN,Genomsnittlig betygspo채ng,NaN,NaN
4,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
5,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
6,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
7,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
8,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

In [5]:
import pandas as pd
pd.read_excel("data/riket2023_책k9_np.xlsx", skiprows=5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Antal elever med provbetyg A-F,NaN,NaN,Andel (%) med provbetyg A-E,NaN,NaN,Genomsnittlig betygspo채ng,NaN,NaN
2,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
3,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
4,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
5,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
6,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

In [9]:
import pandas as pd
test_file_path = "data/riket2023_책k9_np.xlsx"

sheet_names = pd.ExcelFile(test_file_path).sheet_names 

# pd.read_excel("data/riket2023_책k9_np.xlsx", skiprows=8)

In [10]:
df_dict = {}
for sheet_name in sheet_names[:1]:
    df_dict[sheet_name] = pd.read_excel (test_file_path, skiprows=8, sheet_name=sheet_name)
df_dict.keys()

dict_keys(['Engelska'])

In [14]:
subjects = list (df_dict.keys())
subjects.sort()

# b) change name of columns

In [15]:
df_dict["Engelska"].columns

Index(['Riket', 'Typ av huvudman', 'Totalt', 'Flickor', 'Pojkar', 'Totalt ',
       'Flickor ', 'Pojkar ', 'Totalt  ', 'Flickor  ', 'Pojkar  '],
      dtype='object')

In [18]:
postfixes = [""]*2 + ["(A-F)"]*3 + ["(A-E)"]*3 + ["(po채ng)"]*3

postfixes

['',
 '',
 '(A-F)',
 '(A-F)',
 '(A-F)',
 '(A-E)',
 '(A-E)',
 '(A-E)',
 '(po채ng)',
 '(po채ng)',
 '(po채ng)']

In [24]:
import numpy as np
postfixes = [""]*2 + [" (A-F)"]*3 + [" (A-E)"]*3 + [" (po채ng)"]*3

np.array(postfixes)

array(['', '', ' (A-F)', ' (A-F)', ' (A-F)', ' (A-E)', ' (A-E)', ' (A-E)',
       ' (po채ng)', ' (po채ng)', ' (po채ng)'], dtype='<U8')

In [25]:
np.array(postfixes) + df_dict["Engelska"].columns

Index(['Riket', 'Typ av huvudman', ' (A-F)Totalt', ' (A-F)Flickor',
       ' (A-F)Pojkar', ' (A-E)Totalt ', ' (A-E)Flickor ', ' (A-E)Pojkar ',
       ' (po채ng)Totalt  ', ' (po채ng)Flickor  ', ' (po채ng)Pojkar  '],
      dtype='object')

In [21]:
df_dict["Engelska"].columns + np.array(postfixes)

Index(['Riket', 'Typ av huvudman', 'Totalt(A-F)', 'Flickor(A-F)',
       'Pojkar(A-F)', 'Totalt (A-E)', 'Flickor (A-E)', 'Pojkar (A-E)',
       'Totalt  (po채ng)', 'Flickor  (po채ng)', 'Pojkar  (po채ng)'],
      dtype='object')

In [26]:
df_dict["Engelska"].columns.str.strip() + np.array(postfixes)

Index(['Riket', 'Typ av huvudman', 'Totalt (A-F)', 'Flickor (A-F)',
       'Pojkar (A-F)', 'Totalt (A-E)', 'Flickor (A-E)', 'Pojkar (A-E)',
       'Totalt (po채ng)', 'Flickor (po채ng)', 'Pojkar (po채ng)'],
      dtype='object')

In [47]:
import pandas as pd
import numpy as np

for subject in subjects:
    new_columns = df_dict[subject].columns.str.strip() + np.array(postfixes)
    df_dict[subject].columns = new_columns
    df_dict[subject] = df_dict[subject].rename({"Riket": "plats", "Typ av huvudman": "huvudman"}, axis=1)
    
df_dict =["Engelska"]

TypeError: list indices must be integers or slices, not str

#c) EDA

In [48]:
df_dict["Matematik"].info()

TypeError: list indices must be integers or slices, not str

In [ ]:
df_dict["matematik"]["totalt (A-F)"]

In [49]:
df_dict["matematik"]["matematik"].describe().transpose()

TypeError: list indices must be integers or slices, not str

# d) amount of students that got F in math

In [50]:
df_math = df_dict["matematik"] 
df_math

TypeError: list indices must be integers or slices, not str

In [51]:
import duckdb 

total_students = duckdb.query(
    """SELECT Totalt (A-F) FROM df_math WHERE huvudman =  'samtliga' 
    """).df().values[0][0]
total_students

CatalogException: Catalog Error: Table with name df_math does not exist!
Did you mean "duckdb_databases"?

# e) bar chart on total points for each subject

In [ ]:
df_dict["engelska"].query("Huvudman == 'samtliga'")["Totalt (po채ng)"][0]

In [ ]:
for subject in subjects:
    total_points[subjects] = df_dict[subject].query("Huvudman == 'samtliga'")["Totalt (po채ng)"
    ][0]

In [ ]:
import matplotlib.pyplot as plt 
fig, ax = plt.subplots(1)
ax.bar(x = total_points.keys(), height = total_points.values())

subjects[-1] = "SVA"
print(subjects)
ax.set_xticks(labels=subjects, ticks=range(len(subjects)))